.dropdown {
    height: fit-content;
    background-color: var(--main-color);
    border-radius: 10px;
    position: relative;
}

.dropdown h2 {
    color: white;
    font-size: 18px;
    font-weight: 500;
    padding-left: 20px;
}

.toggleDropdown {
    position: absolute;
    top: 15px;
    right: 0;
    margin-right: 20px;
    border: none;
    background-color: transparent;
    transform-origin: center;
    transform: rotate(180deg);
}

.dropdownIcon {
    pointer-events: none;
}


.dropdownContent {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    background-color: var(--secundary-color);
    padding: 30px;
    border-radius: 0 0 10px 10px;
    position: relative;
    display: none;
}

.dropdown p {
    margin: 0;
}

.dropdown ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.open {
    transform: rotate(0deg);
    transform-origin: center;
}

.display {
    display: block;
}

