.gallery {
    background-color: #F7F7F7;
    padding-top: 50px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 340px);
    justify-content: center;
    grid-gap: 55px;
}

@media screen and (max-width: 540px) {
    .gallery {
        grid-gap: 20px;
    }
}