.header {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
}

.header a {
    padding-left: 57px;
    font-size: 24px;
    color: var(--main-color);
}