.home-banner {
  background-image: url('/public/assets/homeBanner.png');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.home-banner h1 {
  font-size: 48px;
  font-weight:500;
}