@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

body {
  margin: 0;
  padding: 0;
  --main-color : #FF6060;
  --secundary-color: #F7F7F7; 
  font-family: 'Montserrat', sans-serif;
}

.designGrid {
  display: grid;
  grid-gap: 30px;
}

nav {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1240px;
  margin: auto;
  padding-left: 60px;
  padding-right: 60px;
}

.banner-overlay {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.3;
  position: absolute;
  border-radius: 25px;
}

.banner {
  height: 223px;
  border-radius: 25px;
  position: relative;
  background-size: cover;
  margin-bottom: 50px;
}

.banner h1 {
  z-index: 2;
}