.thumb {
    width: 340px;
    height: 340px;
    border-radius: 10px;
    color: white;
    background-color: var(--main-color);
    position: relative;
    font-size: 18px;
    display: flex;
    align-items: end;
}

.thumb-overlay {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    position: absolute;
    background: linear-gradient(rgba(255,255,255,0), rgba(0,0,0,0.5));
}

.thumb p {
    z-index: 2;
    margin: 0;
    padding-left: 20px;
    padding-bottom: 20px;
}
